/* Aggregator for global styles */
@import './variables.css';
@import './globals.css';
@import './utils.css';
@import './components/typography.css';
@import './components/cursor.css';
@import './components/splash.css';
@import './components/header.css';
@import './components/landing.css';
@import './components/projects.css';
